<mat-card>
  <mat-card>
    <h2 class="h2">Kristofor</h2>

    <span class="body-1">Kristofor has been interested in computers and how they work for as long as he can remember. He writes business software
      for his day job, but is really interested in working with people and sharing his knowledge. His past clients range
      from young children eager to learn as much as they can, to business professionals, to senior citizens wanting to share
      pictures with family. In the past, Kristofor has been a boy scout leader, has worked in group homes with children and
      adults with special needs, and has taught senior citizens with very little computer experience on various tech topics.
      He is known for his patience and his ability to simplify seemingly complicated subjects for those wanting to learn
      to do it themselves.</span>

  </mat-card>
  <mat-card>
    <h2 class="h2">Lindsay</h2>

    <span class="body-1">Lindsay wrote her first program on a Commodore 65 and was hooked. In the 90's she designed her first website using as
      many sparkles and flashy graphics as she could get her hands on. Thankfully, the 90's are past and the flashy websites
      went with it. Now she generally uses Wordpress and enjoys setting up custom sites for users.</span>
  </mat-card>
</mat-card>