<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>{{title}}</span>

    <span class="example-spacer"></span>
    
    <button mat-button (click)="onAboutClick()">About</button>
    <button mat-button (click)="onSupportClick()">Tech Support</button>
    <button mat-button (click)="onClassesClick()">Workshops & Classes</button>
    <button mat-button (click)="onDevClick()">Software Development</button>
    <button mat-button (click)="onContactClick()">Contact</button>
  </mat-toolbar-row>
</mat-toolbar>