<mat-card>
    <mat-card>
        <h2 class="h2">Private Classes and Workshops</h2>
        <div class="padded-div">If you are interested in having Kristofor lead a workshop or schedule a class, please don't hesitate to contact him. He will work with you to find a topic suitable for your group or event. All workshops are tailored to suit the needs of those attending and can be customized for all age and skill levels.</div>
    
        <mat-list>
            <h3 mat-subheader>*Examples of workshop and class topics include:</h3>
            <mat-list-item>
                <mat-icon mat-list-icon>chevron_right</mat-icon>
                <caption>Beginner programming (pre-reading or reading)</caption>
            </mat-list-item>
            <mat-list-item>
                <mat-icon mat-list-icon>chevron_right</mat-icon>
                <caption>Minecraft modding</caption>
            </mat-list-item>
            <mat-list-item>
                <mat-icon mat-list-icon>chevron_right</mat-icon>
                <caption>3d graphic design</caption>
            </mat-list-item>
            <mat-list-item>
                <mat-icon mat-list-icon>chevron_right</mat-icon>
                <caption>Computer basics (workshop can be geared towards kids or adults)</caption>
            </mat-list-item>
            <mat-list-item>
                <mat-icon mat-list-icon>chevron_right</mat-icon>
                <caption>Specific programming languages</caption>
            </mat-list-item>
            <mat-list-item>
                <mat-icon mat-list-icon>chevron_right</mat-icon>
                <caption>3Building a computer</caption>
            </mat-list-item>
            <mat-list-item>
                <mat-icon mat-list-icon>chevron_right</mat-icon>
                <caption>And much more</caption>
            </mat-list-item>
        </mat-list>
    </mat-card>
</mat-card>