<mat-card>
    <mat-card>
        <h2 class="h2">Website Design and Setup</h2>
        <div class="padded-div">Kristofor and Lindsay both work on the web design aspect of things. Contact them with your needs and they will put together a custom package for you. Whether you are starting from scratch and have no idea where to begin, already have hosting and a domain set up, or have run into a problem you just can't fix, they can help. Website design help is available in person or via email.</div>
        <div>If you would prefer one-on-one support to teach you how to set up and maintain it yourself, rates start at $50 per hour within the Cowichan Valley.</div>
    </mat-card>
    <mat-card>
        <h2 class="h2">Contract Development</h2>
        <div>Contact Kristofor directly for details on development work.</div>
    </mat-card>
</mat-card>