<mat-card>
    <mat-card>
        <h2 class="h2">On-site tech support</h2>
        <div class="padded-div">Kristofor is available to come to your house and help you out with any computer questions you may have. He has experience
            ranging from complete beginners attempting to upload pictures and send copies to relatives to professionals needing
            to set up a business LAN.</div>
        <div>His basic rate is $50 per hour (min. 1 hour) within the South Cowichan Valley (Malahat to Duncan). There may be additional
            travel fees outside of that area. Whether you need a one-time service or are looking for ongoing maintenance,
            Kristofor can help. Gift certificates are available. An initial 15-minute consultation via phone or email is
            free of charge. Current clients also receive 15 minutes free email or phone support when necessary for minor
            issues that may come up. While he strives to finish all work on-site within your appointment time frame, certain
            tasks are better suited to off-site work. For a short list of some other services he provides, click here.</div>
    </mat-card>
    <mat-card>
        <h2 class="h2">Off-site services</h2>
        <h4 class="h4">Note that this is just a small sampling of some of the services Kristofor can provide. If what you are looking for
            is not listed here, contact him to find out if he can help you</h4>

        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>Operating system re-install</mat-panel-title>
                    <mat-panel-description>Backup all current data, wipe the computer clean and re-install the current OS to a fresh state. Includes
                        full patching/updating of the new OS afterwards as well as a general maintenance software package
                        that can be pre-configured to run autonomously</mat-panel-description>
                </mat-expansion-panel-header>

                <mat-list>
                    <h3 mat-subheader>*Options:</h3>
                    <mat-list-item>
                        <mat-icon mat-list-icon>chevron_right</mat-icon>
                        <caption>Re-installing user applications and restoring backed up data</caption>
                    </mat-list-item>
                    <mat-list-item>
                        <mat-icon mat-list-icon>chevron_right</mat-icon>
                        <caption>Malware/maintenance software package install + automation setup</caption>
                    </mat-list-item>
                    <mat-list-item>
                        <mat-icon mat-list-icon>chevron_right</mat-icon>
                        <caption>Streamlining the OS (removing various unnecessary features/applications)</caption>
                    </mat-list-item>
                </mat-list>
            </mat-expansion-panel>

            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>System Tune-ups</mat-panel-title>
                    <mat-panel-description>If your computer is slowing down but you don't need or want a full operating system re-install, this
                        package is for you. Basic option of malware screening/removal</mat-panel-description>
                </mat-expansion-panel-header>

                <mat-list>
                    <h3 mat-subheader>*Options:</h3>
                    <mat-list-item>
                        <mat-icon mat-list-icon>chevron_right</mat-icon>
                        <caption>Malware: Run scans and clean up of all the malware on the system. Also could include automated maintenance
                            setup if the client wants it</caption>
                    </mat-list-item>
                    <mat-list-item>
                        <mat-icon mat-list-icon>chevron_right</mat-icon>
                        <caption>Data backup: Create a backup of existing user data on the system.</caption>
                    </mat-list-item>
                    <mat-list-item>
                        <mat-icon mat-list-icon>chevron_right</mat-icon>
                        <caption>Data organization/consolidation: This would essentially be looking for user data and consolidating
                            it in one place. Could also include an analysis on what is likely relevant and what could be
                            removed
                        </caption>
                    </mat-list-item>
                    <mat-list-item>
                        <mat-icon mat-list-icon>chevron_right</mat-icon>
                        <caption>Application cleanup: Cleaning up installed applications to just those the user still wants</caption>
                    </mat-list-item>
                </mat-list>
            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>Custom machine builds</mat-panel-title>
                    <mat-panel-description>A custom machine will be built based off the client's needs. The basic service cost is for the build
                        itself, including picking up the parts (that the client has paid for) and delivery. Service will
                        include a 30 minute consult on what components they might need for what they use the computer for
                        (as well as suggestions on components).</mat-panel-description>
                </mat-expansion-panel-header>

                <mat-list>
                    <h3 mat-subheader>*Options:</h3>
                    <mat-list-item>
                        <mat-icon mat-list-icon>chevron_right</mat-icon>
                        <caption>Parts purchased entirely by Kristofor and warranties will go through him directly</caption>
                    </mat-list-item>
                    <mat-list-item>
                        <mat-icon mat-list-icon>chevron_right</mat-icon>
                        <caption>Family/children included in the build</caption>
                    </mat-list-item>
                    <mat-list-item>
                        <mat-icon mat-list-icon>chevron_right</mat-icon>
                        <caption>Any options from the OS reinstall package may be added on as well</caption>
                    </mat-list-item>
                    <mat-list-item>
                        <mat-icon mat-list-icon>chevron_right</mat-icon>
                        <caption>Data backup and restore of an old system</caption>
                    </mat-list-item>
                    <mat-list-item>
                        <mat-icon mat-list-icon>chevron_right</mat-icon>
                        <caption>User Application installs</caption>
                    </mat-list-item>
                    <mat-list-item>
                        <mat-icon mat-list-icon>chevron_right</mat-icon>
                        <caption>Malware/maintenance install/automation, etc.</caption>
                    </mat-list-item>
                    <mat-list-item>
                        <mat-icon mat-list-icon>chevron_right</mat-icon>
                        <caption>Gaming and VR systems are available</caption>
                    </mat-list-item>
                </mat-list>
            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>Business Support Contracts</mat-panel-title>
                    <mat-panel-description>Flexible ongoing maintenance and support for business clients. Inquire about your business needs</mat-panel-description>
                </mat-expansion-panel-header>

                <mat-list>
                    <h3 mat-subheader>*Options:</h3>
                </mat-list>
            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>Website Maintenance</mat-panel-title>
                    <mat-panel-description>Monthly website maintenance contract. The basic package includes weekly file/DB backups and software
                        updates.</mat-panel-description>
                </mat-expansion-panel-header>

                <mat-list>
                    <h3 mat-subheader>*Options:</h3>
                    <mat-list-item>
                        <mat-icon mat-list-icon>chevron_right</mat-icon>
                        <caption>Emergency website support</caption>
                    </mat-list-item>
                    <mat-list-item>
                        <mat-icon mat-list-icon>chevron_right</mat-icon>
                        <caption>Updating services</caption>
                    </mat-list-item>
                </mat-list>
            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>Data Recovery</mat-panel-title>
                    <mat-panel-description>If you have lost data from a crashed drive or corrupt SD card, Kristofor will do a free assessment to let you know if he can help recover your data. You only pay if he can restore part or all of what you have lost</mat-panel-description>
                </mat-expansion-panel-header>

                <mat-list>
                    <h3 mat-subheader>*Options:</h3>
                </mat-list>
            </mat-expansion-panel>
        </mat-accordion>
    </mat-card>
</mat-card>